.jumbotron {
    background-color: rgba(255, 215, 0, .0);
    padding-bottom: 0px;
}


h1 {
    color: rgba(12, 12, 12, 0.8);
    text-shadow: 2px 2px 8px rgba(66, 65, 65, .9);
    font-size: 9px;
}

body {
    background-image: url("../images/jumbotron-bkground.jpg");
    background-size: cover;
}

#gif {
    height: 20vw;
    margin-bottom: 20px;
    box-shadow: 3px 3px 25px rgb(87, 86, 86);
}

.btn {
    background-color: rgba(245, 245, 245, .6);
    color: rgba(12, 12, 12, 0.7);
    border: 2px rgba(12, 12, 12, 0.7) solid;
    font-size: 25px;
}

.btn:hover, .btn:active, .btn:focus, .btn:visited, .btn:link {
    background-color: rgba(12, 12, 12, 0.7);
    color: rgba(245, 245, 245, .7);
    border: 2px whitesmoke solid;
    font-size: 25px;
}

#main-section {
    background-color: rgba(255, 215, 0, .6);
    border-radius: 15px;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border: 2px black solid;
    padding-bottom: 20px;
}

#main-section h1 {
    font-size: 50px;
}

label {
    font-weight: 100;
}

#countdown {
    font-size: 35px;
}

#question {
    background-color: rgba(245, 245, 245, .6);
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    display: none;
    margin: 0 auto;
    margin-top: 10px;
    border: 2px black solid;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

#question text {
    line-height: 5px;
}

.form-check:hover {
    background-color: rgba(12, 12, 12, 0.3);
    color: rgb(245, 245, 245);
}

#answers {
    background-color: rgba(245, 245, 245, .6);
    border-radius: 15px;
    line-height: 50px;
    /* padding: 20px; */
    width: 80%;
    display: none;
    margin: 0 auto;
    margin-top: 5px;
    border: 2px black solid;
    text-align: center;
    font-size: 15px;
}

.form {
    padding: 20px;
}

.answer:hover {
    background-color: rgba(12, 12, 12, 0.9);
    color: rgb(245, 245, 245);
    border-radius: 12px;

}

#score {
    display: none;

}