.jumbotron {
    background-color: rgba(255, 215, 0, .0);
    padding-bottom: 0px;
}

h1 {
    color: rgba(12, 12, 12, 0.8);
    text-shadow: 2px 2px 8px rgba(66, 65, 65, .9);
}

body {
    background-image: url("../images/jumbotron-bkground.jpg");
    background-size: cover;
}

.btn {
    background-color: rgba(245, 245, 245, .6);
    color: rgba(12, 12, 12, 0.7);
    border: 2px rgba(12, 12, 12, 0.7) solid;
    font-size: 25px;
}

.btn:hover, .btn:active, .btn:focus, .btn:visited, .btn:link {
    background-color: rgba(12, 12, 12, 0.7);
    color: rgba(245, 245, 245, .7);
    border: 2px whitesmoke solid;
    font-size: 25px;
}

#main-section {
    background-color: rgba(255, 215, 0, .8);
    border-radius: 15px;
    text-align: center;
    margin-top: 5vh;
    height: 90vh;
    border: 2px black solid;

}

#countdown {
    font-size: 35px;
}

#question {
    background-color: rgba(245, 245, 245, .6);
    border-radius: 15px;
    line-height: 80px;
    width: 80%;
    display: none;
    margin: 0 auto;
    margin-top: 10px;
    border: 2px black solid;
    text-align: center;
    font-size: 20px;
}

#answers {
    background-color: rgba(245, 245, 245, .6);
    border-radius: 15px;
    line-height: 50px;
    width: 80%;
    display: none;
    margin: 0 auto;
    margin-top: 5px;
    border: 2px black solid;
    text-align: center;
    font-size: 15px;
}

.answer:hover {
    background-color: rgba(12, 12, 12, 0.9);
    color: rgb(245, 245, 245);
    border-radius: 12px;

}

#score {
    display: none;

}